# maybe can remove in TV project
# aml_media.ko
CONFIG_AMLOGIC_VOUT3_SERVE=n
CONFIG_AMLOGIC_HDMITX=n
CONFIG_AMLOGIC_HDMITX21=n
CONFIG_AMLOGIC_DSC=n
CONFIG_AMLOGIC_BL_EXTERN=n
CONFIG_AMLOGIC_CVBS_OUTPUT=n
CONFIG_AMLOGIC_WSS=n
CONFIG_AMLOGIC_PIC_DEC=n
CONFIG_AMLOGIC_V4L_VIDEO=n
CONFIG_AMLOGIC_VIDEOBUF2_ION=n
CONFIG_AMLOGIC_IONVIDEO=n
CONFIG_AMLOGIC_MEDIA_TVIN_BT656=n
CONFIG_AMLOGIC_MEDIA_CAMERA=n
CONFIG_AMLOGIC_DRM_HDMI=n
CONFIG_AMLOGIC_DRM_CUT_HDMI=y
CONFIG_AMLOGIC_DRM_CUT_CVBS=y

# amlogic-snd-codec-t9015.ko
CONFIG_AMLOGIC_SND_CODEC_AMLT9015=n
