// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 JetHome
 */

/dts-v1/;

#include "meson-s7.dtsi"
#include "partition_normal_linux.dtsi"

/ {
	amlogic-dt-id = "s7_s905y5_j310";
	compatible = "s7_s905y5_j310";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart_B;
		serial1 = &uart_A;
		serial2 = &uart_C;
		serial3 = &uart_D;
		serial4 = &uart_E;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		spi0 = &spifc;
		spi1 = &spicc0;
		tsensor0 = &p_tsensor;
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	/* 4GiB RAM */
	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x1 0x00000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ramdump_bl33z@00000000 {
			reg = <0x0 0x0 0x0 0x1800000>; /* 0 ~ 24M */
			status = "disabled";
		};

		/* global autoconfigured region for contiguous allocations */
		ramoops@0x07400000 {
			compatible = "ramoops";
			reg = <0x0 0x07400000 0x0 0x00080000>;	/* addr set in uboot */
			record-size = <0x30000>;
			console-size = <0x40000>;
			ftrace-size = <0x0>;
			pmsg-size = <0x10000>;
		};

		secmon_reserved:linux,secmon {
			compatible = "shared-dma-pool";
			no-map;
			alignment = <0x0 0x100000>;
			reg = <0x0 0x05000000 0x0 0x2300000>;
		};

		dmaheap_cma_reserved:heap-gfx {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x3000000>;	/* 48 MB for DRM/Mali GPU buffers */
			alignment = <0x0 0x400000>;
		};

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			/*
			 * 64MB default CMA. 32MB worked for USB/MMC alone but
			 * Mali GPU + DRM need more contiguous memory. SDK
			 * reference 8MB is too small even without GPU - MMC/USB
			 * exhausted it at ~0.3s with -ENOMEM, causing downstream
			 * allocator corruption.
			 */
			size = <0x0 0x4000000>;
			alignment = <0x0 0x400000>;
			linux,cma-default;
			alloc-ranges = <0x0 0x0 0x0 0x30000000>;
		};

		ion_cma_reserved:linux,ion-dev {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x0>;
		};
		ion_fb_reserved:linux,ion-fb {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x0>;
		};
		logo_reserved:linux,meson-fb {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x0>;
		};
		codec_mm_cma:linux,codec_mm_cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x0>;
		};
		codec_mm_reserved:linux,codec_mm_reserved {
			compatible = "amlogic, codec-mm-reserved";
			size = <0x0 0x0>;
		};
		secure_vdec_reserved:linux,secure_vdec_reserved {
			compatible = "amlogic, secure-vdec-reserved";
			size = <0x0 0x0>;
		};
		ppmgr_reserved:linux,ppmgr {
			compatible = "shared-dma-pool";
			size = <0x0 0x0>;
		};
	};

	thermal-zones {
		soc_thermal: soc_thermal {
			polling-delay = <1000>;
			polling-delay-passive = <100>;
			sustainable-power = <1160>;
			thermal-sensors = <&p_tsensor 0>;

			trips {
				pcontrol: trip-point@0 {
					temperature = <75000>;
					hysteresis = <5000>;
					type = "passive";
				};
				pcritical: trip-point@1 {
					temperature = <100000>;
					hysteresis = <1000>;
					type = "critical";
				};
			};

			cooling-maps {
				cpufreq_cooling_map {
					trip = <&pcontrol>;
					cooling-device = <&CPU0 0 7>;
					contribution = <1024>;
				};
			};
		};
	};/*thermal zone end*/

	vddio_boot: regulator-vddio-boot {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_BOOT";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vddao_3v3: regulator-vddao-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VDDAO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	/*
	 * SD card IO voltage, switched via TPS2116 power mux:
	 *   PR1 = HIGH -> 3.3V (default speed / init)
	 *   PR1 = LOW  -> 1.8V (UHS-I signaling)
	 * PR1 is driven by GPIOH_6
	 */
	vqmmc_sd: regulator-vqmmc-sd {
		compatible = "regulator-gpio";
		regulator-name = "VQMMC_SD";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&gpio GPIOH_6 GPIO_ACTIVE_HIGH>;
		states = <3300000 1>,	/* GPIOH_6 HIGH -> PR1 HIGH -> 3.3V */
			 <1800000 0>;	/* GPIOH_6 LOW  -> PR1 LOW  -> 1.8V */

		regulator-boot-on;
	};
	gpio-keys {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;

		button_up {
			label = "Joystick Up";
			gpios = <&exp24 8 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_UP>;
			debounce-interval = <10>;
		};

		button_down {
			label = "Joystick Down";
			gpios = <&exp24 9 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_DOWN>;
			debounce-interval = <10>;
		};

		button_left {
			label = "Joystick Left";
			gpios = <&exp24 10 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_LEFT>;
			debounce-interval = <10>;
		};

		button_right {
			label = "Joystick Right";
			gpios = <&exp24 11 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_RIGHT>;
			debounce-interval = <10>;
		};

		button_center {
			label = "Joystick Center";
			gpios = <&exp24 12 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_ENTER>;
			debounce-interval = <10>;
		};

		button_home {
			label = "Joystick Home";
			gpios = <&exp24 13 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_HOME>;
			debounce-interval = <10>;
		};

		button_back {
			label = "Joystick Back";
			gpios = <&exp24 14 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_BACK>;
			debounce-interval = <10>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_red: led-red {
			label = "jethub:red:fault";
			gpios = <&gpio GPIOZ_5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led_green: led-green {
			label = "jethub:green:heartbeat";
			gpios = <&gpio GPIOZ_4 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};
};

&vddcpu0 {
	status = "okay";
};

&usb_phy20 {
	status = "okay";
	portnum = <1>;
};

&usb_phy21 {
	status = "okay";
	portnum = <1>;
};

&usb_phy30 {
	status = "okay";
	portnum = <0>;
};

&usb_phy31 {
	status = "okay";
	portnum = <0>;
};

&crg_otg {
	status = "okay";
	controller-type = <1>; /* 0~3: normal, host, device, otg */
};

&crg_drd {
	status = "okay";
};

&crg_udc {
	status = "okay";
};

&crg {
	status = "okay";
};

/* SD card */
&sd_emmc_b {
	status = "okay";
	pinctrl-0 = <&sdcard_pins>;
	pinctrl-1 = <&sdcard_clk_gate_pins>;
	pinctrl-2 = <&sd_1bit_pins>;
	pinctrl-names = "sd_default", "clk-gate", "sd_1bit_pins";

	bus-width = <4>;
	cap-sd-highspeed;
	max-frequency = <50000000>;
	disable-wp;

	cd-gpios = <&gpio GPIOC_6 GPIO_ACTIVE_HIGH>;
};

&sd_emmc_c {
	status = "okay";
	pinctrl-0 = <&emmc_pins>, <&emmc_ds_pins>;
	pinctrl-1 = <&emmc_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";

	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs400-1_8v;
	max-frequency = <200000000>;
	non-removable;
	disable-wp;
};

&i2c2 {
	status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c2_pins2>;
    clock-frequency = <400000>;

	/* EEPROM on base board */
	eeprom_base: eeprom@56 {
		compatible = "atmel,24c64";
		reg = <0x56>;
		pagesize = <0x20>;
		label = "eeprom_base";
		address-width = <0x10>;
		vcc-supply = <&vddao_3v3>;
	};



	exp21: gpio@21 {
		compatible = "ti,tca6408";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;

		//Add later
		//gpio-line-names =
	};
};

&i2c3 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c3_pins2>;
    clock-frequency = <200000>;

	rtc: rtc@51 {
		status = "okay";
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		wakeup-source;
	};

	/* Crypto */
	atecc608a: crypto@60 {
		compatible = "atmel,atecc508a";
		reg = <0x60>;
	};

	/* EEPROM on cpu carrier board */
	eeprom_carrier: eeprom@56 {
		compatible = "atmel,24c64";
		reg = <0x56>;
		pagesize = <0x20>;
		label = "eeprom_carrier";
		address-width = <0x10>;
		vcc-supply = <&vddao_3v3>;
	};

	/* temperature sensors */
	temp: tmp102@48 {
		compatible = "ti,tmp102";
		reg = <0x48>;
	};

	ssd1306: oled@3c {
		compatible = "solomon,ssd1306fb-i2c";
		reg = <0x3c>;
		solomon,width = <128>;
		solomon,height = <64>;
		solomon,com-invdir;
		solomon,page-offset = <0>;
		solomon,dclk-div = <1>;
		solomon,dclk-frq = <15>;
		solomon,prechargep1 = <1>;
		solomon,prechargep2 = <15>;
	};

	exp24: gpio@24 {
		compatible = "nxp,pca9535";
		reg = <0x24>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names =
			"", "", "", "", "", "", "", "",
			"JOY_UP", "JOY_DOWN", "JOY_LEFT", "JOY_RIGHT",
			"JOY_CENTER", "JOY_HOME", "JOY_BACK", "";
	};
};

&ethmac {
	pinctrl-0 = <&eth_led_pins>;
	pinctrl-names = "default";
	status = "okay";
	phy-handle = <&internal_ephy>;
	phy-mode = "rmii";
};

&pwm_e {
	pinctrl-0 = <&pwm_e_pins1>;
	pinctrl-1 = <&pwm_e_pins1_sleep>;
	pinctrl-names = "default","sleep";
	status = "okay";
};

&uart_A {
	status = "okay";
	uart-has-rtscts;
};
